<style>
    body {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        background-image: url(../../images/Member.gif);
        background-color: #240D07;
        background-repeat: no-repeat;
        background-position: center top;
        overflow: hidden;
    }
</style>
<div id="three">
    <div id="threelogo"><img src="../../images/login-logo.gif" width="446" height="200"></div>

    <div id="threelogin">
        <form name="loginForm"  method="post">
            <dl>
                <dt><img src="../../images/loginname.gif" width="61" height="14" alt="用户名"></dt>
                <dd>
                    <input type="text" class="loginname" name="loginName" ng-model="user.loginName">
                </dd>
            </dl>
            <dl>
                <dt><img src="../../images/password.gif" width="61" height="14" alt="密码"></dt>
                <dd style="width:300px;">
                    <input type="password" class="loginpas" name="password" ng-model="user.password">
                </dd>
            </dl>
            <dl>
                <dt>&nbsp;</dt>
                <dd>
                    <input name="Button1" id="Button1" type="submit" class="loginbtn" value="" style="margin-left:3px" ng-click="login(user)">
                </dd>
            </dl>
        </form>
    </div>
    <br>
    <div class="copy"></div>
</div>



