<style>
    body {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        background-image: url(../../images/Member.gif);
        background-color: #240D07;
        background-repeat: no-repeat;
        background-position: center top;
        overflow: hidden;
    }

    /***********************登陆的css**********************************/
    #three{ width:auto; margin:0 auto; background:url(../../images/Member.gif) no-repeat center top ; height:700px;text-align:center;}
    #threelogo{ width:100%;  padding-top:45px; text-align:center;}
    #threelogin{
        width:468px;
        height:230px;
        background:url(../../images/loginbg.gif) no-repeat center top;
        text-align:left;
        margin:0px auto;
        padding-top:90px;
        padding-left:70px;
    }
    #threelogin dl{ width:100%; float:left; height:auto; height:34px; padding-bottom:6px; margin:0px;}
    #threelogin dt{ width:95px; float:left; height:auto; text-align:right; padding-top:9px; margin:0px;}
    #threelogin dd{ width:200px; float:left; height:auto; padding-left:5px;  margin:0px;}
    .loginname{ width:180px; height:24px;  border:0; background:url(../../images/index_12.gif) no-repeat; padding:5px 10px;}
    .loginpas{ width:180px; height:24px;  border:0; background:url(../../images/index_16.gif) no-repeat; padding:5px 10px;}
    .loginbtn{ width:85px; height:37px; float:left; border:0; background:url(../../images/loginbtn.gif) no-repeat; cursor:pointer; margin-top:15px;}

</style>
<div id="three">
    <div id="threelogo"><img src="images/login-logo.gif" width="446" height="200"></div>

    <div id="threelogin">
        <form name="loginForm"  method="post">
            <dl>
                <dt><img src="images/loginname.gif" width="61" height="14" alt="用户名"></dt>
                <dd>
                    <input type="text" class="loginname" name="loginName" ng-model="user.loginName">
                </dd>
            </dl>
            <dl>
                <dt><img src="images/password.gif" width="61" height="14" alt="密码"></dt>
                <dd style="width:300px;">
                    <input type="password" class="loginpas" name="password" ng-model="user.password">
                </dd>
            </dl>
            <dl>
                <dt>&nbsp;</dt>
                <dd>
                    <input name="Button1" id="Button1" type="submit" class="loginbtn" value="" style="margin-left:3px" ng-click="login(user)">
                </dd>
            </dl>
        </form>
    </div>
    <br>
    <div class="copy"></div>
</div>



