<style>

    .table{ margin-bottom: 0}

    .renyuan_tab > div.ng-isolate-scope{ display: none}

    .ng-table th{ text-align: left}

    .table>thead>tr>th{ vertical-align: middle;}

    .table>thead>tr>th > div span{ font-weight: bold}

</style>
    <p class="right_cont_p"></p>
    <div class="renyuan_tab">
        <h6 class="renyuan_h6" ng-show="ifmanager==1">
            <button ng-click="clickAdd()"><a style="color: #6d2f90;">+ 添加分组</a></button>
            <button ng-click="modifyMember()">编辑</button>
            <span style="float: right; background: #fff; border: 1px solid #ccc; border-radius: 5px; height: 30px; margin: 10px 3% 0 0;"><input type="text" ng-model="searchName" style="width: 200px; height: 28px; line-height: 28px; border: none; background: none; float: left;" placeholder=" 搜索分组" ng-keydown="search()" /><img ng-click="search()" style="float: left;" src="images/vrec/demo13.png" /></span>
        </h6>
        <table width="100%" ng-table="tableParams" class="table" >
            <tr ng-repeat="data in $data">
                <td  header="'ng-table/headers/checkbox.html'" style="width: 3%" ng-show="ifmanager==1">
                    <input type="checkbox" ng-model="checkboxes.items[data.id]" />
                </td>
                <td data-title="'序号'" style="width: 3%">
                    {{$index+1}}
                </td>
                <td data-title="'三人抱团小组名称'" style="width: 8%">
                    {{data.groupName}}
                </td>
                <td data-title="'成员'" style="width: 10%">
                    <a ng-href="#/base/groupmember/{{data.id}}"  style="color: green;">{{data.memberName}}</a>
                </td>
                <td data-title="'注册日期'" style="width: 10%">
                    {{data.createTime| date :'yyyy-MM-dd'}}
                </td>
            </tr>
        </table>
    </div>
    <div class="yejiao">
        <div class="col-lg-10">
            <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" items-per-page="pageSize" class="pagination-sm" first-text="首页" last-text="尾页" ng-change="pageChanged()" previous-text="上一页" next-text="下一页" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        </div>
        <div class="col-lg-2 text-center" style="margin: 20px 0;">
            <pre style="padding: 4.5px;">页: {{bigCurrentPage}} / {{numPages}}</pre>
        </div>
    </div>
    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value=""  style="height:20px;" />
    </script>

   <!--添加员工-->
<div class="modal fade" id="addModal"  data-backdrop="static">
    <form>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"  ng-click="cancelAdd()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">添加三人抱团小组</h4>
                </div>
                <div class="modal-body" style="height: 400px;">
                    <div class="form-group" style="width:100%;float:left;margin-bottom: 8px;">
                        <label class="col-sm-2 control-label" style="text-align: right;"><a style="color: #f00;">*</a>姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="member.name" placeholder="" maxlength="30" required >
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  style="background: #6f2d90;" ng-disabled=" threeGroup.name==null  " ng-click="saveThreeGroup()">确认提交</button>
                    <button type="button" class="btn btn-default" ng-click="cancelAdd()">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div>

</div>

