

body {	margin:0;	padding:0;	font-family:Arial, Helvetica, sans-serif;	font-size:12px; background: url(../images/bg.gif) repeat-x #3B160E;}

/***********************登陆的css**********************************/
#three{ width:auto; margin:0 auto; background:url(../images/Member.gif) no-repeat center top ; height:700px;text-align:center;}
#threelogo{ width:100%;  padding-top:45px; text-align:center;}
#threelogin{
    width:468px;
    height:230px;
    background:url(../images/loginbg.gif) no-repeat center top;
    text-align:left;
    margin:0px auto;
    padding-top:90px;
    padding-left:70px;
}
#threelogin dl{ width:100%; float:left; height:auto; height:34px; padding-bottom:6px; margin:0px;}
#threelogin dt{ width:95px; float:left; height:auto; text-align:right; padding-top:9px; margin:0px;}
#threelogin dd{ width:200px; float:left; height:auto; padding-left:5px;  margin:0px;}
.loginname{ width:180px; height:24px;  border:0; background:url(../images/index_12.gif) no-repeat; padding:5px 10px;}
.loginpas{ width:180px; height:24px;  border:0; background:url(../images/index_16.gif) no-repeat; padding:5px 10px;}
.loginbtn{ width:85px; height:37px; float:left; border:0; background:url(../images/loginbtn.gif) no-repeat; cursor:pointer; margin-top:15px;}
